<app-header></app-header>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
  <app-menu *ngIf="canShowMenu"></app-menu>
  <p-panel>
    <p-header>
      <div class="ui-g panel-header">
        <div class="ui-g-4 dashboard">Godown Master</div>
        <div class="ui-g-8 dashboard" style="text-align: end !important;">
          <input class="search-masters" type="text" [(ngModel)]="searchText" pInputText placeholder="Search"
            (ngModelChange)="onSearch($event)">
          <button class="inline-padding" pButton type="button" icon="fa fa-search" class="ui-button-warn"></button>
          <p-splitButton class="inline-padding" label="Export" icon="pi pi-download" [model]="items"
            styleClass="ui-button-danger"></p-splitButton>
          <button class="inline-padding" pButton type="button" icon="fa fa-print" class="ui-button-warn"
            (click)="print()"></button>
        </div>
      </div>
    </p-header>
    <p-toast position="top-center" key="t-err"></p-toast>
    <div class="table-screen-size">
      <p-treeTable #dt [value]="data" [columns]="column" [rows]="20" [rowsPerPageOptions]="[10,20,30,40,50,100]"
        [paginator]="true" autoLayout="true" [resizableColumns]="true" styleClass="myTable"
         [loading]="loading" exportFilename="GODOWN_DATA">
           <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" ttResizableColumn>
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
          <tr [ngStyle]="{'background-color': getColor(rowData.Name)}">
            <td *ngFor="let col of columns; let i = index">
              <p-treeTableToggler [rowNode]="rowNode" *ngIf="i==0"></p-treeTableToggler>
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
  </p-panel>
</div>