<app-header></app-header>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
  <app-menu *ngIf="canShowMenu"></app-menu>
  <p-panel>
    <p-header>
      <div class="ui-g panel-header">
        <div class="ui-g-4 dashboard">Employee Master</div>
      </div>
    </p-header>
    <p-toast position="top-center" key="t-err"></p-toast>
    <div class="ui-g">
      <div class="ui-g-12" style="padding-right: 70px">
        <div class="ui-g-12 ui-md-4"></div>
        <div class="ui-g-6 ui-md-2">
          <label class="ui-g-7 label-fontsize dashboard">Region</label>
          <p-dropdown #region class="ui-fluid dashboard" [options]="regionOptions" [(ngModel)]="RCode"
            (onClick)="onSelect('reg', 'click')" (keydown.enter)="onSelect('reg', 'enter')" [showClear]="true"
            (ngModelChange)="onResetTable('reg')" filter="true" resetFilterOnHide="true" placeholder="-select-">
            <ng-template let-item pTemplate="selectedItem">
              <span style="vertical-align:middle">{{item.label}}</span>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="ui-g-6 ui-md-2">
          <label class="ui-g-7 label-fontsize dashboard">Godown</label>
          <p-dropdown #godown class="ui-fluid dashboard" [options]="godownOptions" [(ngModel)]="GCode"
            (onClick)="onSelect('gd', 'click')" (keydown.enter)="onSelect('gd', 'enter')"
            (ngModelChange)="onResetTable('gd')" filter="true" resetFilterOnHide="true" [showClear]="true"
            placeholder="-select-">
            <ng-template let-item pTemplate="selectedItem">
              <span style="vertical-align:middle">{{item.label}}</span>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="ui-g-4 ui-md-1" style="padding-top: 20px;">
          <button class="btn" style="padding: 2px 17px 2px 17px" pButton type="button" label=View
            (click)="onView()"></button>
        </div>
        <div class="ui-g-12 ui-md-3"></div>
      </div>
      <div class="employee-main">
        <div>
          <form #employeeForm="ngForm" (ngSubmit)="onSubmit(formUser)">
            <div class="ui-float-label" style="margin-bottom: 20px">
              <input class="icon2" type="number" size="30" pInputText [(ngModel)]="Empno" name="Empno"
                autocomplete="off"
                oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                onKeyDown="if(this.value.length==6 && event.keyCode!=8) return false;" required>
              <label for="Empno">EEPF Number</label>
            </div>
            <div class="ui-float-label" style="margin-bottom: 20px">
              <input class="icon2" size="30" pInputText [(ngModel)]="Empname" name="Empname" autocomplete="off"
                required>
              <label for="Empname">Employee Name</label>
            </div>
            <!-- <div class="ui-float-label" style="margin-bottom: 20px">
              <input class="icon2" type="Designation" size="30" pInputText [(ngModel)]="formUser.Designation"
                name="Designation" #Designation="ngModel" autocomplete="off" required>
              <label for="Designation">Designation</label>
            </div> -->
            <div class="ui-g dashboard" style="margin-bottom: 20px">
              <label class="ui-g label-fontsize-large" for="Designation">Designation</label>
              <p-dropdown #designation class="ui-g-12 ui-fluid dashboard" [options]="designationOptions"
                [(ngModel)]="Designation" (onClick)="onSelect('d', 'click')" (keydown.enter)="onSelect('d', 'click')"
                filter="true" resetFilterOnHide="true" optionLabel="label" [showClear]="true" name="Designation"
                required>
                <ng-template let-item pTemplate="selectedItem">
                  <span style="vertical-align:middle">{{item.label}}</span>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="ui-float-label" style="margin-bottom: 10px">
              <input class="icon2" type="Refno" size="30" pInputText [(ngModel)]="Refno" name="Refno" autocomplete="off"
                required>
              <label for="Refno">Reference No</label>
            </div>
            <div style="padding: 0px 15px 10px 24px;">
              <label class="ui-g-10 label-fontsize dashboard" for="Refdate" style="text-align: center">Reference
                Date</label>
              <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" [maxDate]="maxDate" name="Refdate"
                [(ngModel)]="Refdate" (ngModelChange)="onDateSelect()"></p-calendar>
            </div>
            <div style="padding: 0px 15px 10px 24px;">
              <label class="ui-g-10 label-fontsize dashboard" for="Jrdate" style="text-align: center">J or R
                Date</label>
              <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" [maxDate]="maxDate" name="Jrdate" [(ngModel)]="Jrdate"
                (ngModelChange)="onDateSelect()"></p-calendar>
            </div>
            <div>
              <span style="padding: 0px 0px 0px 40px;">
                <p-radioButton name="Jrtype" value="J" label="Join" for="Jrtype" [(ngModel)]="Jrtype"></p-radioButton>
              </span>
              <span style="padding: 0px 0px 0px 40px;">
                <p-radioButton name="Jrtype" value="R" label="Relieve" for="Jrtype" [(ngModel)]="Jrtype">
                </p-radioButton>
              </span>
            </div>
            <!-- <div> 
              <span style="padding: 0px 5px 0px 46px;">
                <p-checkbox name="Jrtype" [(ngModel)]="Join" value="J" label="Join" binary="showTrue"></p-checkbox>
              </span>
              <span style="padding: 0px 0px 0px 40px;">
                <p-checkbox name="Jrtype" [(ngModel)]="Relieve" value="R" label="Relieve" binary="showTrue">
                </p-checkbox>
              </span>
            </div> -->
            <div class="bottom" style="padding-left: 95px">
              <div>
                <button class="btn" style="padding: 4px 10px 4px 10px" pButton type="button"
                  (click)="onSubmit(employeeForm)" label=Submit></button>
              </div>
              <!-- [disabled]="(!employeeForm.form.valid)" -->
              <!-- <div style="padding-top: 10px;">
                <button class="btn" style="padding: 4px 17px 4px 17px" pButton type="button" label=View
                  (click)="onView()"></button>
              </div> -->
            </div>
          </form>
        </div>
      </div>
      <!-- <div class="ui-g-12" style="text-align: center">
        <p-table [columns]="EmployeeCols" [value]="EmployeeData" [responsive]="true" autoLayout="true"
          [loading]="loading" [totalRecords]="totalRecords">
          <ng-template pTemplate="header" let-columns>
            <tr style="text-align: center;">
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div> -->

      <!-- <div class="ui-g-12 ui-fluid"> -->


    </div>
  </p-panel>
</div>
<p-dialog header="Employee Details" [contentStyle]="{'overflow':'scroll'}" [modal]="true" [maximizable]="true"
  [(visible)]="viewPane" [responsive]="true">
  <div class="ui-g-12 ui-fluid">
    <p-table #dt [columns]="EmployeeCols" [value]="EmployeeData" [rows]="20" exportFilename="EMPLOYEE_DETAILS"
      [rowsPerPageOptions]="[10,20,30,40,50,100]" selectionMode="single" [responsive]="true" autoLayout="true"
      [paginator]="true" (onRowSelect)="onRowSelect($event)">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" style="width:80px">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="ui-g-4 ui-md-9"></div>
  <div class="ui-g-4 ui-md-1 no-right-pad">
    <button class="ui-g-10 dashboard" pButton label=OK [disabled]="disableOkButton"
      (click)="showSelectedData()"></button>
  </div>
  <div class="ui-g-4 ui-md-1">
    <button class="ui-g-10 dashboard" pButton type="button" [disabled]="!EmployeeData" label=Excel
      (click)="dt.exportCSV()"></button>
  </div>
  <div class="ui-g-4 ui-md-1 no-left-pad">
    <button class="ui-g-10 dashboard" pButton label=Cancel (click)="viewPane = false"></button>
  </div>
</p-dialog>