<app-header></app-header>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
  <app-menu *ngIf="canShowMenu"></app-menu>
  <p-panel>
    <p-header>
      <div class="ui-g panel-header">
        <div class="ui-g-4 dashboard">GODOWN CUSTOMER LIST</div>
      </div>
    </p-header>
    <p-toast position="top-center" key="t-err"></p-toast>
    <div class="ui-g ui-fluid">
      <div class="ui-g-2"></div>
        <div class="ui-g-12 ui-md-3">
            <label class="ui-g-7 label-fontsize dashboard">GODOWN</label>
            <p-dropdown #godown [options]="godownOptions" [(ngModel)]="godownCode"
             (onClick)="onSelect('click')" (keydown.enter)="onSelect('enter')"
              filter="true" resetFilterOnHide="true" optionLabel="label" [showClear]="true" placeholder="-select-">
              <ng-template let-item pTemplate="selectedItem">
                <span style="vertical-align:middle">{{item.label}}</span>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="ui-g-12 ui-md-2" style="padding-top: 24px">
          <p-checkbox name="active" value="Active" label="Active only" [(ngModel)]="isActive" binary="true" ></p-checkbox>
        </div>
        <div class="ui-g-3 ui-md-1" style="padding-top: 24px">
            <button pButton type="button" label=View (click)="onView()" [disabled]="(!godownCode || godownCode==null)"></button>
          </div>
          <div class="ui-g-3 ui-md-1" style="padding-top: 24px">
            <button pButton type="button" label=Print (click)="onPrint()" [disabled]="!isSaveSucceed"></button>
          </div>
          <div class="ui-g-3 ui-md-1" style="padding-top: 24px">
            <button pButton type="button" label=Excel (click)="dt.exportCSV()" [disabled]="(CustomerData.length=='0')"></button>
          </div>
          <div class="ui-g-12 dashboard">
    <p-table #dt [columns]="CustomerCols" [value]="CustomerData" [rows]="20"
      [rowsPerPageOptions]="[10,20,30,40,50,100]" [paginator]="true" [responsive]="true" autoLayout="true"
      [loading]="loading">
      <ng-template pTemplate="header" let-columns>
        <tr style="text-align: center;">
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
</p-panel>
</div>