<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <title>TNCSC-SCM</title>

    <meta charset="utf-8">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <style>
        input[type=text] {
            border: 0px;
            background-color: #f7f7f7;
        }

        input[type=text]:focus {
            border: 0px;
            background-color: #f7f7f7;
        }
    </style>
</head>

<body>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/monetization.js" type="text/javascript"></script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                _bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
            }
        })();
    </script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                _bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
            }
        })();
    </script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                _bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
            }
        })();
    </script>
    <script>var vitag = vitag || {}; vitag.gdprShowConsentTool = false; vitag.outStreamConfig = { type: "slider", position: "left" };</script>
    <div class="w3layouts-main content">
        <div class="bg-layer">
            <h1 style="padding-top: 20px">Tamilnadu Civil Supplies Corporation</h1>
            <p-toast position="top-center" key="t-err"></p-toast>
            <div class="header-main" style="padding-top: 9px !important;margin: 70px auto;">
                <div style="text-align:center;">
                    <img src="../../assets/layout/images/login/tncsc-logo.png" alt="logo" routerLink="/login"
                        style="width: 150px; height: 140px; margin: 0px; padding: 0px;" />
                </div>
                <div class="header-left-bottom">
                    <form [formGroup]="loginForm" ngSubmit="OnSignIn()">
                        <div for="userName" class="icon1">
                            <span class="fa fa-user"></span>
                            <input type="text" class="inputxt" formControlName="user" id="userName"
                              autofocus="true" [(ngModel)]="userName" placeholder="Username" tabindex="0" required="">
                        </div>
                        <div for="password" class="icon1">
                            <span class="fa fa-lock"></span>
                            <input type="password" class="inputxt" formControlName="pswd" [(ngModel)]="password"
                                placeholder="Password" tabindex="0" (keydown.enter)="onSignIn()" required="">
                        </div>
                    </form>
                    <div class="login-check">
                            <label class="checkbox"><input type="checkbox" name="checkbox" binary="true"
                                    [(ngModel)]="isChecked" tabindex="0" (change)="toggleVisibility($event)"><i> </i> Keep me logged
                                in</label>
                        </div>
                    <div class="bottom">
                        <button class="btn" type="button" tabindex="0" (click)="onSignIn()">Sign In</button>
                    </div>
                    <div class="links" style="text-align: center">
                        <p> <a href="#" data-target="#pwdModal" tabindex="0" data-toggle="modal">Forgot my password</a> </p>

                        <!-- <p><a href="#">Forgot Password?</a></p> -->
                        <!-- <div class="clear"></div> -->
                    </div>
                    <div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" style="padding-top: 205px">
                            <div>
                                <i style="float: right; color: aliceblue" class="fas fa-times-circle"></i>
                            </div>
                            <div class="modal-content">
                                <!-- <span>
                                    <i class="far fa-times-circle"></i>
                                </span> -->
                                <div class="modal-body">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="text-center">
                                                    <p>If you have forgotten your password you can reset it here!</p>
                                                    <div class="panel-body">
                                                        <fieldset>
                                                            <div class="form-group">
                                                                <input class="form-control input-lg"
                                                                    placeholder="E-mail" name="email" type="email"
                                                                    autocomplete="off">
                                                            </div>

                                                            <button class="btn" style="width: 50%"
                                                                value="Send My Password" type="submit">Send My
                                                                Password</button>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="vli_adpixel8383" style="width: 0px; height: 0px; display: none;">
        <iframe id="vli_tracking_iframe" width="0" height="0" style="display: none;"></iframe></div>
</body>