<app-header></app-header>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
  <app-menu *ngIf="canShowMenu"></app-menu>
  <p-panel>
    <p-header>
      <div class="ui-g panel-header">
        <div class="ui-g-4 dashboard">Godown Profile</div>
      </div>
    </p-header>
    <p-toast position="top-center" key="t-err"></p-toast>
   <div class="ui-g">
      <div class="ui-g-12 dashboard" style="text-align: center">
          <p-fieldset legend="GODOWN PROFILE DATA">
            <p-table [columns]="godownProfileCols" [value]="godownProfileData" [responsive]="true" autoLayout="true"
              [loading]="loading">
              <ng-template pTemplate="header" let-columns>
                <tr style="text-align: center;">
                  <th *ngFor="let col of columns">
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns">
                      {{rowData[col.field]}}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </p-fieldset>
        </div>
    <div class="install-main">
      <div>
        <form #templateForm="ngForm" (ngSubmit)="onSubmit(templateForm.value)">
          <div class="ui-float-label" style="margin-bottom: 20px">
            <input class="icon2" type="Gname" size="30" pInputText [(ngModel)]="formUser.Gname" name="Gname"
              #name="ngModel" pTooltip="Enter your Name" autocomplete="off" tabindex="1" required>
            <label for="Gname">InchargeName</label>
          </div>
          <div class="ui-float-label" style="margin-bottom: 20px">
            <input class="icon2" type="designation" size="30" pInputText [(ngModel)]="formUser.designation" name="designation"
              #designation="ngModel" pTooltip="Enter your Designation" autocomplete="off" tabindex="2" required>
            <label for="designation">Designation</label>
          </div>
          <div class="ui-float-label" style="margin-bottom: 20px">
            <input class="icon2" type="address1" size="30" pInputText [(ngModel)]="formUser.address1" name="address1"
              #address1="ngModel" pTooltip="Enter your Address1" autocomplete="off" tabindex="3" required>
            <label for="address1">Address</label>
          </div>
          <div class="ui-float-label" style="margin-bottom: 20px">
            <input class="icon2" type="address2" size="30" pInputText [(ngModel)]="formUser.address2" name="address2"
              #address2="ngModel" pTooltip="Enter District" autocomplete="off" tabindex="4" required>
            <label for="address2">Address</label>
          </div>
          <div class="ui-float-label" style="margin-bottom: 20px">
            <input class="icon2" type="address3" size="30" pInputText [(ngModel)]="formUser.address3" name="address3"
              #address3="ngModel" pTooltip="Enter City" autocomplete="off" tabindex="5" required>
            <label for="address3">Address</label>
          </div>
          <div class="ui-float-label" style="margin-bottom: 20px">
            <input class="icon2" type="phone" size="30" pInputText [(ngModel)]="formUser.telno" name="telno"
              #telno="ngModel" pTooltip="Enter Telephone Number" autocomplete="off" maxlength="11" tabindex="6" required>
              <label for="telno">Telephone number</label>
          </div>
          <div class="ui-float-label" style="margin-bottom: 20px">
          <input class="icon2" type="phone" size="30" pInputText [(ngModel)]="formUser.phone" name="phone"
            #phone="ngModel" pTooltip="Enter Mobile Number" autocomplete="off" maxlength="21" tabindex="7" required>
          <label for="phone">Mobile number</label>
        </div>
          <div class="ui-float-label" style="margin-bottom: 20px">
            <input class="icon2" type="fax" size="30" pInputText [(ngModel)]="formUser.fax" name="fax"
              #fax="ngModel" pTooltip="Enter Fax Number" autocomplete="off" tabindex="8" required>
            <label for="fax">Fax No</label>
          </div>
          <div class="bottom" style="padding-left: 85px">
            <button class="btn" style="padding: 4px 10px 4px 10px" pButton type="button" (click)="onSubmit(formUser)"
              label=Submit tabindex="9" [disabled]="!templateForm.form.valid"></button>
          </div>
        </form>
      </div>
    </div>
    <!-- <div class="ui-g-12 dashboard" style="text-align: center">
      <p-fieldset legend="GODOWN PROFILE DATA">
        <p-table [columns]="godownProfileCols" [value]="godownProfileData" [responsive]="true" autoLayout="true"
          [loading]="loading" [totalRecords]="totalRecords">
          <ng-template pTemplate="header" let-columns>
            <tr style="text-align: center;">
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-fieldset>
    </div> -->
  </div>
  </p-panel>
</div>