<app-header></app-header>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
  <app-menu *ngIf="canShowMenu"></app-menu>
  <p-panel>
    <p-header>
      <div class="ui-g panel-header">
        <div class="ui-g-4 dashboard">Party Ledger Master</div>
      </div>
    </p-header>
    <p-toast position="top-center" key="t-err"></p-toast>
    <div class="employee-main" style="max-width: 700px">
      <div class="ui-g dashboard">
        <a class="ui-g-12 ui-md-7" style="text-align: end">Party Ledger Master</a>
        <div class="ui-g-12 ui-md-2"></div>
        <div class="ui-g-12 ui-md-2 ui-fluid">
          <button pButton type="button" (click)="onView()" [disabled]="(!RCode)" label=View></button>
        </div>
      </div>
      <div>
        <form #partyForm="ngForm" (ngSubmit)="onSubmit(formUser)">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6">
              <label class="ui-g label-fontsize-large" for="Region">Region</label>
              <p-dropdown #region name="region" class="ui-g-12 ui-fluid dashboard" [options]="regionOptions"
                [(ngModel)]="RCode" (onClick)="onSelect('reg', 'click')" (keydown.enter)="onSelect('reg', 'enter')"
                optionLabel="label" (ngModelChange)="onResetTable('reg')" filter="true" resetFilterOnHide="true"
                [showClear]="true" placeholder="-select-">
                <ng-template let-item pTemplate="selectedItem">
                  <span style="vertical-align:middle">{{item.label}}</span>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-6" style="padding-top: 22px">
              <div class="ui-float-label">
                <input class="icon2" size="30" pInputText [(ngModel)]="Partyname" name="Partyname" autocomplete="off"
                  required>
                <label for="Partyname">Party Name</label>
              </div>
            </div>

          </div>
          <div class="ui-g">
            <div class="ui-g-12 ui-md-2">
              <div class="ui-float-label">
                <input class="ui-g icon2" type="text" size="30" pInputText [(ngModel)]="State" name="State"
                  autocomplete="off" maxlength="2" required>
                <label for="State">State Code</label>
              </div>
            </div>
            <div class="ui-g-12 ui-md-3">
              <div class="ui-float-label">
                <input class="ui-g icon2" type="text" size="30" pInputText [(ngModel)]="Pan" name="Pan"
                  autocomplete="off" maxlength="10" required>
                <label for="Pan">Pan No.</label>
              </div>
            </div>
            <div class="ui-g-12 ui-md-3">
              <div class="ui-float-label">
                <input class="icon2" type="text" size="30" pInputText [(ngModel)]="Gst" name="Gst" autocomplete="off"
                  slotChar="Last 3 digits" maxlength="3" required>
                <label for="Gst">Gst No</label>
              </div>
            </div>
            <div class="ui-g-12 ui-md-4">
              <a [(ngModel)]="Tin" >TIN - {{State + Pan + Gst}}</a>
            </div>
          </div>
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6">
              <div class="ui-float-label">
                <input class="icon2" type="Favour" size="30" pInputText [(ngModel)]="Favour" name="Favour"
                  autocomplete="off" required>
                <label for="Favour">Alias / Favour of</label>
              </div>
            </div>
            <div class="ui-g-12 ui-md-6">
              <div class="ui-float-label">
                <input class="icon2" type="number" size="30" pInputText [(ngModel)]="Account" name="Account"
                  maxlength="16" autocomplete="off" required>
                <label for="Account">Account No</label>
              </div>
            </div>
          </div>
          <div class="ui-g">
          </div>
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6">
              <div class="ui-float-label">
                <input class="icon2" type="Bank" size="30" pInputText [(ngModel)]="Bank" name="Bank" autocomplete="off"
                  required>
                <label for="Bank">Bank Name</label>
              </div>
            </div>
            <div class="ui-g-12 ui-md-6">
              <div class="ui-float-label">
                <input class="icon2" type="Branch" size="30" pInputText [(ngModel)]="Branch" name="Branch"
                  autocomplete="off" required>
                <label for="Branch">Branch</label>
              </div>
            </div>
          </div>
          <div class="ui-g">
            <div class="ui-g-12 ui-md-8">
              <div class="ui-float-label">
                <input class="icon2" type="text" size="30" pInputText [(ngModel)]="IFSC" name="IFSC" maxlength="11"
                  autocomplete="off" required>
                <label for="IFSC">IFSC Code</label>
              </div>
            </div>
            <!-- <div class="bottom" style="padding-left: 95px"> -->
            <div class="ui-g-6 ui-md-2 ui-fluid">
              <button pButton type="button" (click)="onSubmit(formUser)" style="padding: 3px"
                [disabled]="(!Gst || !Account || !Pan || !IFSC || !Bank || !Branch || !Partyname || !Favour || !RCode)"
                label=Submit></button>
            </div>
            <div class="ui-g-6 ui-md-2 ui-fluid">
              <button pButton type="button" (click)="onClear()" style="padding: 3px" label=Clear></button>
            </div>
            <!-- </div> -->
          </div>
        </form>
      </div>
    </div>
    <!-- </div> -->
  </p-panel>
</div>
<p-dialog header="Party Ledger Master Details" [contentStyle]="{'overflow':'scroll'}" [modal]="true"
  [maximizable]="true" [(visible)]="viewPane" [responsive]="true">
  <div class="ui-g-12 ui-fluid">
    <p-table #dt [columns]="PartyLedgerCols" [value]="PartyLedgerData" [rows]="20"
      exportFilename="PARTY_LEDGER_MASTER_DETAILS" [rowsPerPageOptions]="[10,20,30,40,50,100]" selectionMode="single"
      [responsive]="true" autoLayout="true" [paginator]="true" (onRowSelect)="onRowSelect($event)">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" style="width:80px">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="ui-g-4 ui-md-9"></div>
  <div class="ui-g-4 ui-md-1 no-right-pad">
    <button class="ui-g-10 dashboard" pButton label=OK [disabled]="disableOkButton"
      (click)="showSelectedData()"></button>
  </div>
  <div class="ui-g-4 ui-md-1">
    <button class="ui-g-10 dashboard" pButton type="button" [disabled]="!PartyLedgerData" label=Excel
      (click)="dt.exportCSV()"></button>
  </div>
  <div class="ui-g-4 ui-md-1 no-left-pad">
    <button class="ui-g-10 dashboard" pButton label=Cancel (click)="viewPane = false"></button>
  </div>
</p-dialog>